.post {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 100px;
  color: #404040;

  h1{
    font-weight: bolder;
    width: auto;
    display: block;

    a.btn{
      float: right;
      font-size: 1.1em !important;
    }
  }

  a.btn{
    margin-top: 10px;
  }
}
