$color_black : #404040;
$margin: 40px 0px 10px ;

.borderForm{
  border: 1px solid $color_black;
  border-radius: 4px;
}


.formMargin{
  margin: 10px 40px 0;
}

.comment_list {
  span {
    font-size: 1.4em;
    font-weight: bold;
  }
}

.textField{
  width: 100%;
  padding: 10px;
  display: block;
}

.commentform{
  @extend .formMargin;

  textarea{
    min-height: 100px;
    max-width: 100%;
    @extend .textField;
    @extend .borderForm;
    margin-bottom: 10px;
  }

  input[type=text]{
    margin: $margin;
    @extend .textField;
    @extend .borderForm;
  }

  a{
    @extend .borderForm;
  }
}
