.labelEdit {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  width: 100%;
}

.title {
  @extend .labelEdit;
  font-size: 1.4em;
  padding: 10px 10px 10px 0px;

  i {
    display: none;
    float: left;
    line-height: 1.4em;
    padding: 0px 5px;
  }

  &:hover i {
    display: inline;
  }

  &:hover{
    background: rgba(255,230,128,.3);
  }
}
