$font-stack: Arial, Helvetica, Sans, 'Sans-serif';
$color: #707070;

.comment {
    padding: 20px;
    margin: 10px 40px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;

    author{
      display: block;
      font-weight: bold;
      font-size: 1.1em;
      font: $font-stack;
      color: $color;
    }

    message{
      font-weight: normal;
      font: $font-stack;
      color: $color;
    }
}
