.left {
  float:left;
  display: inline-block;
  width: 120px;
  position: fixed;
  top: 130px;
  bottom:5px;
  overflow-y: auto;
  
  ul{
    padding: 0px;

    li {
      color: #333;
      font-size: 1.1em;
      font-weight: bolder;
      text-decoration: none;
      transition: all 350ms ease-in-out 50ms;
      list-style-type: none;
      cursor:pointer;

      &:hover{
        color:#666;
      }
    }
  }
}
